{{#each departments}}

    <button data-dept-id="{{id}}" class="btn btn-secondary deptbtn">{{name}}</button>

{{/each}}


{{#each requests}}

    <button data-req-id="{{id}}" class="btn btn-secondary reqbtn">{{name}}</button>

{{/each}}




