<!-- navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">SIMPL311</a>

    <ul class="navbar-nav ml-auto">
      <li class="active">
        <a class="nav-link" id="open-ticket" href="#" data-toggle="modal" data-target="#ticket-test">Test Ticket</a>
      </li>
      <li class="active">
        <a class="nav-link" href="#" data-toggle="modal" data-target="#ticket-modal" id="createTicket">Create Ticket</a>
      </li>
      <li class="active">
        <a class="nav-link" href="#" data-toggle="modal" data-target="#login-modal">Log In</a>
      </li>
      <li class="active">
        <a class="nav-link" href="#" data-toggle="modal" data-target="#register-modal">Register</a>
      </li>
    </ul>
  </div>
</nav>

<!-- main page content -->
<div class="container pt-5">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#nearby">Requests Nearby</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#dashboard">Dashboard</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#profile">Profile</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#admin">Admin</a>
    </li>
  </ul>

  <div id="myTabContent" class="tab-content">
    <div class="tab-pane fade show active" id="nearby">
      <div id="accordion1">
        <div class="card">
          <div class="card-header" id="heading11">
            <h5 class="mb-0">
              <button class="btn btn-link" data-toggle="collapse" data-target="#collapse11" aria-expanded="true" aria-controls="collapse11">
                Collapsible Group Item #1
              </button>
            </h5>
          </div>
          <div id="collapse11" class="collapse" aria-labelledby="heading11" data-parent="#accordion1">
            <div class="card-body">
              Test ticket 1
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" id="heading12">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse12" aria-expanded="false" aria-controls="collapse12">
                Collapsible Group Item #2
              </button>
            </h5>
          </div>
          <div id="collapse12" class="collapse" aria-labelledby="heading12" data-parent="#accordion1">
            <div class="card-body">
              Test ticket 2
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" id="heading13">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse13" aria-expanded="false" aria-controls="collapse13">
                Collapsible Group Item #3
              </button>
            </h5>
          </div>
          <div id="collapse13" class="collapse" aria-labelledby="heading13" data-parent="#accordion1">
            <div class="card-body">
              Test ticket 3
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="tab-pane fade" id="dashboard">
      <div id="accordion2">
        <div class="card">
          <div class="card-header" id="heading21">
            <h5 class="mb-0">
              <button class="btn btn-link" data-toggle="collapse" data-target="#collapse21" aria-expanded="true" aria-controls="collapse21">
                Collapsible Group Item #1
              </button>
            </h5>
          </div>

          <div id="collapse21" class="collapse" aria-labelledby="heading21" data-parent="#accordion2">
            <div class="card-body">
              My ticket 1
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="heading22">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse22" aria-expanded="false" aria-controls="collapse22">
                Collapsible Group Item #2
              </button>
            </h5>
          </div>
          <div id="collapse22" class="collapse" aria-labelledby="heading22" data-parent="#accordion2">
            <div class="card-body">
              My ticket 2
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="heading23">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse23" aria-expanded="false" aria-controls="collapse23">
                Collapsible Group Item #3
              </button>
            </h5>
          </div>
          <div id="collapse23" class="collapse" aria-labelledby="heading23" data-parent="#accordion2">
            <div class="card-body">
              My ticket 3
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="tab-pane fade" id="profile">
      Profile info here
    </div>

    <div class="tab-pane fade" id="admin">
      <div id="accordion4">
        <div class="card">
          <div class="card-header" id="heading41">
            <h5 class="mb-0">
              <button class="btn btn-link" data-toggle="collapse" data-target="#collapse41" aria-expanded="true" aria-controls="collapse41">
                Collapsible Group Item #1
              </button>
            </h5>
          </div>

          <div id="collapse41" class="collapse" aria-labelledby="heading41" data-parent="#accordion4">
            <div class="card-body">
              All tickets 1
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="heading42">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse42" aria-expanded="false" aria-controls="collapse42">
                Collapsible Group Item #2
              </button>
            </h5>
          </div>
          <div id="collapse42" class="collapse" aria-labelledby="heading42" data-parent="#accordion4">
            <div class="card-body">
              All tickets 2
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="heading43">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse43" aria-expanded="false" aria-controls="collapse43">
                Collapsible Group Item #3
              </button>
            </h5>
          </div>
          <div id="collapse43" class="collapse" aria-labelledby="heading43" data-parent="#accordion4">
            <div class="card-body">
              All tickets 3
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {{!-- Ticket Modal --}} {{!--
  <div class="modal fade" id="ticket-modal" tabindex="-1" role="dialog" aria-labelledby="ticket-modal-title"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header bg-dark">
          <h5 class="modal-title text-light" id="login-modal-title">Create a Ticket</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <form>
            <div class="form-group">
              <input type="text" class="form-control" id="ticketStreet" placeholder="Street">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" id="ticketCity" placeholder="City">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" id="ticketState" placeholder="State">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" id="ticketZip" placeholder="Zip Code">
            </div>
            <textarea name="" id="ticketComments" cols="30" rows="10" placeholder="Explain your ticket request" style="height: 100%; width: 100%;"></textarea>
            <p>Characters Remaining
              <span id="remainingChars">254</span>
            </p>
          </form>
          <button id="ticketSubmit" type="button" class="btn btn-dark btn-block">Submit Ticket</button>
        </div>

        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div> --}}
  
  {{!-- Will's ticket modal --}}
  <div class="modal fade" id="ticket-test" tabindex="-1" role="dialog" aria-labelledby="ticket-modal-title" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header bg-dark">
          <h5 class="modal-title text-light" id="login-modal-title">Create a Ticket</h5>
          <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <form>
            <div class="form-group">
              <select class="form-control" id="exampleFormControlSelect1">
                <option value="" selected>Choose Department</option>
                {{#each departments}}
                <option value="{{id}}">{{name}}</option>
                {{/each}}
              </select>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" id="ticketCity" placeholder="City">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" id="ticketState" placeholder="State">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" id="ticketZip" placeholder="Zip Code">
            </div>
            <textarea name="" class="w-100" id="ticketComments" rows="10" placeholder="Explain your ticket request"></textarea>
            <p>Characters Remaining
              <span id="remainingChars">255</span>
            </p>
          </form>
          <button id="ticketSubmit" type="button" class="btn btn-dark btn-block">Submit Ticket</button>
        </div>

        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>

  <!-- login modal wills content, dont fuck with this-->
  <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="login-modal-title" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header bg-dark">
          <h5 class="modal-title text-light" id="login-modal-title">Log In</h5>
          <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <form>
            <div class="form-group">
              <input type="email" class="form-control" id="test4" aria-describedby="emailHelp" placeholder="Email Address">
            </div>

            <div class="form-group">
              <input type="password" class="form-control" id="testing1" placeholder="Password">
            </div>
          </form>

          <button type="button" class="btn btn-dark btn-block">Log In</button>

          <div class="mt-3 text-center">
            <a href="#">Forgot Password?</a>
          </div>
        </div>

        <div class="modal-footer">
          <div class="mx-auto">
            <span>Don't Have An Account?
              <a href="#" id="sign-up">Sign Up</a>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- registration modal -->
  <div class="modal fade" id="register-modal" tabindex="-1" role="dialog" aria-labelledby="register-modal-title" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header bg-dark">
          <h5 class="modal-title text-light" id="register-modal-title">Register</h5>
          <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <form>
            <div class="form-row">
              <div class="form-group col-md-6">
                <input type="text" class="form-control" id="test1" aria-describedby="emailHelp" placeholder="First Name">
              </div>

              <div class="form-group col-md-6">
                <input type="text" class="form-control" id="test2" aria-describedby="emailHelp" placeholder="Last Name">
              </div>
            </div>

            <div class="form-group">
              <input type="email" class="form-control" id="test3" aria-describedby="emailHelp" placeholder="Email Address">
            </div>

            <div class="form-group">
              <input type="password" class="form-control" id="testing2" placeholder="Password">
            </div>

            <div class="form-group">
              <input type="password" class="form-control" id="testing3" placeholder="Confirm Password">
            </div>

            <div class="form-group">
              <input type="text" class="form-control" id="testing4" placeholder="Address">
            </div>

            <div class="form-row">
              <div class="form-group col-md-6">
                <input type="text" class="form-control" id="test5" aria-describedby="emailHelp" placeholder="City">
              </div>

              <div class="form-group col-md-3">
                <select class="form-control">
                  <option value="" selected>State</option>
                  <option value="AK">AK</option>
                  <option value="AL">AL</option>
                  <option value="AR">AR</option>
                  <option value="AZ">AZ</option>
                  <option value="CA">CA</option>
                  <option value="CO">CO</option>
                  <option value="CT">CT</option>
                  <option value="DC">DC</option>
                  <option value="DE">DE</option>
                  <option value="FL">FL</option>
                  <option value="GA">GA</option>
                  <option value="HI">HI</option>
                  <option value="IA">IA</option>
                  <option value="ID">ID</option>
                  <option value="IL">IL</option>
                  <option value="IN">IN</option>
                  <option value="KS">KS</option>
                  <option value="KY">KY</option>
                  <option value="LA">LA</option>
                  <option value="MA">MA</option>
                  <option value="MD">MD</option>
                  <option value="ME">ME</option>
                  <option value="MI">MI</option>
                  <option value="MN">MN</option>
                  <option value="MO">MO</option>
                  <option value="MS">MS</option>
                  <option value="MT">MT</option>
                  <option value="NC">NC</option>
                  <option value="ND">ND</option>
                  <option value="NE">NE</option>
                  <option value="NH">NH</option>
                  <option value="NJ">NJ</option>
                  <option value="NM">NM</option>
                  <option value="NV">NV</option>
                  <option value="NY">NY</option>
                  <option value="OH">OH</option>
                  <option value="OK">OK</option>
                  <option value="OR">OR</option>
                  <option value="PA">PA</option>
                  <option value="RI">RI</option>
                  <option value="SC">SC</option>
                  <option value="SD">SD</option>
                  <option value="TN">TN</option>
                  <option value="TX">TX</option>
                  <option value="UT">UT</option>
                  <option value="VA">VA</option>
                  <option value="VT">VT</option>
                  <option value="WA">WA</option>
                  <option value="WI">WI</option>
                  <option value="WV">WV</option>
                  <option value="WY">WY</option>
                </select>
              </div>

              <div class="form-group col-md-3">
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="ZIP">
              </div>
            </div>

            <div class="form-group">
              <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Phone Number (Optional)">
            </div>
          </form>

          <button type="button" class="btn btn-dark btn-block">Submit</button>
        </div>

        <div class="modal-footer">
          <div class="mx-auto">
            <span>Already Have An Account?
              <a href="#" id="login">Log In</a>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{!-- <script type="text/javascript" src="assets/js/createTicket.js"></script> --}}
<script type="text/javascript" src="assets/js/testTicket.js"></script>