<main class='container'>
    <h1 class='text-center'>Register Account</h1>
    <form class='text-center'>
        <div class="form-group text-left">
            <label for="nameInput">Name:</label>
            <input type="text" class="form-control" id="nameInput" aria-describedby="emailHelp" placeholder="Enter name">
        </div>
        <div class="form-group text-left">
            <label for="emailInput">Email address:</label>
            <input type="email" class="form-control" id="emailInput" aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group text-left">
            <label for="passwordInput">Password:</label>
            <input type="password" class="form-control" id="passwordInput" placeholder="Password">
        </div>
        <button id='submitButton' class="btn btn-outline-success">Submit</button>
    </form>
</main>

<script src="/JavaScript/registrationForm.js"></script>