.navbar .logo {
  width: 15rem;
}

.banner {
  background-image: linear-gradient(to bottom, rgba(38, 42, 46, 0.6) 0%,rgba(38, 42, 46, 0.6) 100%), url("/assets/img/home-banner-community.jpg");
  background-position: center bottom;
  background: cover;
  height: 33rem;
  padding: 5rem 10rem;
  margin-bottom: 4rem;
}

.banner #banner-logo {
  width: 65%;
}

.banner h1, h2, h3, h4, h5 {
  color: white;
}

.banner p {
  color: black;
}

#invalid-modal {
  z-index: 2000;
}

#footer {
  background: #353A3F;
  height: 8rem;
  padding: 2rem;
  margin-top: 4rem;
  color: #ffffff;
}

#footer .logo {
  width: 20%;
}

#footer .footer-link{
  color: #919aa1;
}
